<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <h2> I am thinking of a number between 1 and 100</h2>
        <h2> Take a guess!</h2>
        <form action="/process_answer" method = "post">
            <input type="number" name = "guess">
        </form>
        <form action="/reset" method = "post">
            <button>Play again</button>
        </form>
        <h4>{{message}}</h4>
    </body>
</html>